[user]
	name = Shreyas Vora
	email = svora@mako.com
[init]
	defaultBranch = main
[alias]
	mwps = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
	when = !stat -c %y .git/FETCH_HEAD
	lol = log --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)%cd%Creset - %C(green)%cn%Creset - %C(red)%s%Creset\" --no-merges --date=format:'%Y-%m-%d %H:%M:%S'
	lolf = log --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%aD -> %cD)%Creset %C(green)%cn <%ce>%C(red) %s%Creset\" --no-merges
	logf = log --name-status --no-merges
	logt = log --graph --decorate --oneline $(git rev-list -g --all)
[safe]
	directory = /export/srg/pro/data
	directory = /srg/pro/data
	directory = /export/srg/pro/data/support
	directory = /srg/pro/data/support
[advice]
	addEmptyPathspec = false
