[user]
	name = Shreyas Vora
	email = svora@mako.com
[init]
	defaultBranch = main
[alias]
	mwps = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
	when = !stat -c %y .git/FETCH_HEAD
	lol = log --pretty=format:\"%C(auto)%h%Creset %C(cyan)%cd%Creset %<(21)%C(green)%cn%Creset %C(red)%s%Creset %C(auto)%d%C(reset)\" --no-merges --date=format:'%Y-%m-%d %H:%M:%S'
	lolf = log --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%aD -> %cD)%Creset %C(green)%cn <%ce>%C(red) %s%Creset\" --no-merges
	logf = log --name-status --no-merges
	rl = reflog --format='%C(auto)%h %<|(17)%C(magenta)%gd %C(green)%ci%C(reset) %C(red)%gs'
[safe]
	directory = /export/srg/pro/data
	directory = /srg/pro/data
	directory = /export/srg/pro/data/support
	directory = /srg/pro/data/support
[advice]
	addEmptyPathspec = false
[http]
	proxy = http://extproxy:3128
[https]
	proxy = http://extproxy:3128
