$include /etc/inputrc

# Run bind -l or -p or -v to view details about what can be set in inputrc

# This line sets readline to display possible completions using different colors to indicate their file types. The colors are determined by the environmental variableset colored-stats On
set completion-ignore-case On
# need to set LS_COLORS with dircolors before enabling color settings
# set colored-stats On
# set colored-completion-prefix On
set mark-symlinked-directories On
#set show-all-if-ambiguous On
set skip-completed-text On
#set show-all-if-unmodified On
set visible-stats On
set menu-complete-display-prefix On

# cycle through all possible matching files in dir
TAB:menu-complete
"\e[Z":menu-complete-backward

# Cycle through history based on characters already typed on the line (with ctrl+up/down arrows)
"\e[1;5A":history-search-backward
"\e[1;5B":history-search-forward

# Ctrl-Delete: delete next word
"\e[3;5~": shell-kill-word

# Ctrl-Backspace: delete previous word
# Doesn't work "\C-?": unix-word-rubout
