! The sets the backarrow key by default in any new shell opened
XTerm.vt100.backarrowKey: true
! This is what enables copying to Remmina
XTerm*selectToClipboard: true
! I don't know what this does
xterm*loginShell: true
xterm*termName: xterm-color
xterm*vt100*geometry: 80x50
xterm*saveLines: 200
xterm*eightBitInput: false
! Set xterm colours
xterm*background:  #000000
xterm*foreground: #ffffff
! Set cursor to be an underline and set it's colour
xterm*vt100.cursorColor: #ff0000
xterm*vt100.cursorUnderLine: true
! Define character classes that define a word (so double click knows what to use as a word separator and what not to use)
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*vt100.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
! Determines behaviour on triple click - cuts from current word to end of line and doesn't copy the newline character so you can paste without executing the command
XTerm*vt100.cutNewline: false
XTerm*vt100.cutToBeginningOfLine: false
! A variant of jumpScroll which suppresses screen refreshes if you catted a large file. So you can Ctrl+C quickly
xterm*vt100.fastScroll: true
! Set font size to large rather than default (d)
xterm*initialFont: 5
! Set action for many clicks
xterm*on4Clicks: group
xterm*on5Clicks: page
! Set visual bell instead of audio if something bad typed
xterm*visualBell: true
xterm*visualBellLine: true
!
! Some color settings I don't use
!xterm*color0:  #282828
!xterm*color8:  #928374
!xterm*color1:  #cc241d
!xterm*color9:  #fb4934
!xterm*color2:  #98971a
!xterm*color10: #b8bb26
!xterm*color3:  #d79921
!xterm*color11: #fabd2f
!xterm*color4:  #458588
!xterm*color12: #83a598
!xterm*color5:  #b16286
!xterm*color13: #d3869b
!xterm*color6:  #689d6a
!xterm*color14: #8ec07c
!xterm*color7:  #a89984
!xterm*color15: #ebdbb2
